asgiref==3.2.3
certifi==2019.11.28
Django==2.2.8
django-appconf==1.0.3
django-crispy-forms==1.8.1
django-jet==1.0.8
django-select2==7.1.2
djangoajax==3.1
djangorestframework==3.11.0
djangorestframework-gis==0.14
djangorestframework-jwt==1.11.0
Pillow==9.0.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
wincertstore==0.2

django-admin-sortable2==0.7.3
django-cleanup==4.0.0
django-colorfield==0.1.15
django-cors-headers==3.1.0
django-debug-toolbar==2.0
django-geoposition-2==0.3.6
django-import-export==1.2.0
django-js-asset==1.2.2
django-modeladmin-reorder==0.3.1
django-mptt==0.10.0
django-mptt-admin==0.7.1

gunicorn==19.9.0

django-progressbarupload==0.1.7
django-rest-swagger==2.2.0